# Exclude generated audio files
*.mp3
*.wav
*.ogg
# Exclude generated video files
*.mp4
*.ogv
# Exclude generated text files
Aud.txt
Duration.txt
# Temporary directories
tmp/
.ipynb_checkpoints/
__pycache__/
# Temporary files
*~
# Python compiled files
*.pyc
*.pyo
# Exclude python build system files
dist/
build/
*.egg-info/
